*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Mulish", sans-serif;
}

body
{
	width: 100vw;
	height: 100vh;
	background-color: #e5f8fd;
	display: grid;
	place-items: center;
}

form
{
	background-color: #857ae9;
	padding: 80px;
	width: 50%;
	margin: 100px auto;
	text-align: center;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

#temp-Calc label{
	font-size: 30px;
}

#temp
{
	border: none;
	padding: 10px;
	height: 40px;
	width: 100px;
	font-size: 20px;
	margin-top: 20px;
}

#temp_diff
{
	height: 40px;
	border: none;
	margin-top: 20px;
	font-size: 15px;
	vertical-align: top;
}

#submit-in
{
	background-color: black;
	border: none;
	color: blanchedalmond;
	height: 40px;
	width: 100px;
	margin-top: 20px;
	font-size: 15px;
	cursor: pointer;
}

span{
	font-size: 30px;
	text-align: center;
	color: black;
}